@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,800;1,400&display=swap");

:root {
  --primary: #f6f1f1;
  --secondary: #19a7ce;
  --tertiary: #146c94;
  --bg: #000000;
}

* {
  margin: 0;
  padding: 0 50px;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: var(--bg);
  color: var(--primary);
}

.container {
  text-align: center;
  align-items: center;
  justify-content: center;
}

h1 {
  display: inline-flex;
  font-weight: 800;
}

h1 span {
  color: var(--tertiary);
}

form {
  align-items: center;
  justify-content: center;
  background-color: var(--tertiary);
  padding-top: 10px;
  margin: 5px 10px;
  border-radius: 25px;
  outline: #000000;
}

.total {
  display: inline;
  font-size: 16pt;
  border: 1px solid black;
  background-color: var(--tertiary);
  color: white;
  padding: 10px;
  border-radius: 10px;
}
